[submodule "dependencies/bgfx"]
	path = dependencies/bgfx
	url = https://github.com/JoshuaBrookover/bgfx.cmake.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/sdl2"]
	path = dependencies/sdl2
	url = https://github.com/sdl-mirror/sdl.git
